body {
  background-image: url("borboleta.jpg");
    background-color: rgb(246, 158, 193);
  }
  
  h1 {
    color: rgb(228, 79, 148);
    background-color:rgb(251, 154, 191) ;
    border: 2px solid rgb(238, 99, 155);
  }
    .center {
      text-align:center;
  }
  /*CLASS*/
  .center{---

  }
    
  .fonte-verde {
      color:purple;
      border-style: solid;
      border-width: 3px 3px;
      background-color:rgb(251, 154, 191) ;
      border-color: purple;
  }
/*ID*/
  #para {    
    font-family: verdana;
    font-size: 20px;
  }