body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(223, 27, 174);
    text-align: center;
  }
  
  p {
    color:rgb(227, 99, 178);    
    font-family: verdana;
    font-size: 20px;
  }